.container {
    display: flex;
}
.img {
    margin: 20px;
    padding: 5px;
    gap: 10px;
}
.contact {
    display: flex;
    padding: 5 px;
    gap: 10px;
}
.container1 {
    margin: 20px;
    padding: 5px;
    gap: 10px;
}
.edu  {
    margin: 20px;
    padding: 5px;
    gap: 10px;
}
.date {
    display: flex ;
    padding: 5 px;
    gap: 10px;
    margin-right: 50px;
}
.kills {
    display: flex ;
    padding: 5 px;
    gap: 10px;
    margin-right: 70px;

}

